<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}{% endblock head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/style.css') }}">
    <title>Short.io! | {% block title %}{% endblock title %}</title>
</head>

<body>
    <div class="top-body">
        <nav>
            <a href="/">Home</a>
        </nav>
        <main>
            {% block content %}{% endblock %}
        </main>
    </div>
    <footer>
        &copy; Forum, Saja & Zerh
    </footer>
</body>

</html>