<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}{% endblock head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/style.css') }}">
    <title>Short.io! | {% block title %}{% endblock title %}</title>
</head>

<body>
    <nav>
        <a href="/">Home</a>
    </nav>
    <main class="scroll">
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; Forum, Saja & Zerh</p>
    </footer>
    <script src="{{ url_for('static', filename='/js/script.js') }}"></script>
</body>

</html>