body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

/* Navbar */

nav {
    color: white;
    background-color: rgb(27, 28, 43);
    height: 4rem;
    position: relative;
}

nav a, a:visited, a:hover, a:active {
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    position: absolute;
    top: 30%;
    margin-left: 3rem;
}

/* Main */

main {
    width: 100vw;
    height: 100vh;
    background-color: rgb(27, 28, 43);
    padding: 1rem 0;
    box-shadow: 1px 1px 6px black;
}

.scroll {
    height: 100%;
    overflow-y: scroll;
}

h1 {
    text-align: center;
    font-size: 3rem;
    color: white;
}

#about {
    text-align: center;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
}

.short-url {
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    margin-left: 40%;
}

form {
    text-align: center;
    margin-top: 60px;
}

.link-input {
    width: 25vw;
    padding: 10px 8px;
    font-size: 1.3rem;
    box-shadow: 1px 2px 8px rgb(177, 177, 177);
    border-radius: 5px;
    margin-bottom: 60px;
}

.link-input:focus {
    outline: none;
}

.submit-btn {
    width: 10vw;
    padding: 10px 5px;
    font-size: 1.3rem;
    box-shadow: 1px 2px 8px rgb(177, 177, 177);
    background-color: lavender;
    cursor: pointer;
    border-radius: 5px;
}

.submit-btn:active {
    background-color:rgb(27, 28, 43);
    color: white
}

.submit-btn:hover {
    background-color:rgb(27, 28, 43);
    color: white
}

table {
    width: 90%;
    border: 1px solid white;
    color: white;
    text-align: center;
    margin: 0 auto;
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    padding: 10px;
}

#firstRow>th {
    background-color: white;
    color: rgb(27, 28, 43);
}

/* Footer */

footer {
    color: white;
    background-color: rgb(27, 28, 43);
    height: 3rem;
    position: relative;
    bottom: 0;
}

footer p {
    font-size: 1rem;
    color: white;
    text-decoration: none;
    position: absolute;
    bottom: 30%;
    margin: 0;
    margin-left: 45%;
}